@charset "UTF-8";
$sp: 599px;
$tablet: 1024;

@mixin flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin page-title {
    display: inline-block;
    text-align: center;
    font-size: 5rem;
    margin: 2% 0;
    border-bottom: double 2px #383838;
    @include responsive-sp {
        margin: 7%;
    }
}
@mixin responsive-sp {
    @media screen and(max-width: $sp) {
        @content;
    }
}
@mixin responsive-tablet {
    @media screen and(max-width: $tablet) {
        @content;
    }
}